**.md
log/**
.ropeproject/*
**.~lock.reqs.pptx#
**__pycache__**
**.pyc
src/.ipynb_checkpoints/**
**.log
**ignore
.git/**
src/gliner_local_copy/**
test_resource/**

**.ipynb
.venv/**
Dockerfile
uv.lock
deploy.sh
